<!-- header.html -->
{% load static %}

<header class="zq_h5_header-area">
  <div class="container container-custom-1">
    <div class="row align-items-center">
      <div class="col-xl-9 col-lg-8 col-sm-6 col-8">
        <div class="zq_h5_header-left">
          <div class="zq_h5_header-logo">
            <a href="{% url 'app:index' %}"><img src="{% static 'images/logo.png' %}" style="height: 66px; width: 80px;" alt=""></a>
          </div>
          <div class="zq_header-menu">
              <nav id="mobile-menu">
                  <ul>
                      <li class="menu-has-child">
                          <a href="{% url 'app:index' %}">Главная</a>
                      </li>
                      <li class="menu-has-child">
                          <a href="{% url 'app:about' %}">О нас</a>
                      </li>
                      <li class="menu-has-child">
                          <a href="{% url 'app:portfolio' %}">Портфолио</a>
                      </li>
                      <li class="menu-has-child">
                          <a href="{% url 'blog:blog-list' %}">Блог</a>
                      </li>
                      <li>
                          <a href="{% url 'app:contacts' %}">Контакты</a>
                      </li>
                  </ul>
              </nav>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-4 d-flex justify-content-end">
        <div class="zq_h5_header-right">
          {% if user.is_authenticated %}
              {% if user.photo %}
                  <div class="zq_h2_header-action">
                      <a href="">
                          <img src="{{ user.photo.url }}" style="height: 37px; width: 37px; border-radius: 50%; border: white 1px solid;>
                          <span class="zq_h5_header_icon zq_menuIcon d-lg-none"></span>
                      </a>
                  </div>
              {% else %}
                  <div class="zq_h2_header-action">
                      <a href="">
                          <img src="{% static 'images/blog_big-3.png' %}" style="height: 37px; width: 37px; border-radius: 50%; border: white 1px solid;">
                          <span class="zq_h5_header_icon zq_menuIcon d-lg-none"></span>
                      </a>
                  </div>
              {% endif %}
          {% else %}
              <a href="{% url 'users:login' %}" class="zq_header-btn"><b>Войти</b>
                  <svg width="11" height="13" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.57971 10.1668L9.55073 1.8335M9.55073 1.8335H2.37681M9.55073 1.8335V9.33349" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
              </a>
          {% endif %}
          <span class="zq_h5_header_icon zq_menuIcon"><i class="fa-light fa-grid-2"></i></span>
        </div>
      </div>
    </div>
  </div>
</header>